app/Config/App.php
app/Config/Database.php
writable/*
vendor/*
.htaccess
public/boletas/*
public/boletas_nuevas/*
public/uploads/boleta/*
.vscode/*
public/js/all.min.js
controlapr/*
controlapr
aquaia.gestionapr.cl
aquaia.gestionapr.cl/*
panel.gestionapr.cl
panel.gestionapr.cl/*
acuaria.cl/*
acuaria.cl
public/uploads/*
public/grafico_*
public/tabla_consumo_*
